option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: "mysite.wsgi:application"

container_commands:
  01_make_writable:
    command: "touch db.sqlite3 && chmod 664 db.sqlite3 && chmod 775 ."
  02_migrate:
    command: "source /var/app/venv/*/bin/activate && python manage.py migrate --noinput"
    leader_only: true
